<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.allen.medical">

    <uses-permission
        android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePswActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".todo.PriceDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".warning.CompanyWarningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".count.SysltjActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".count.SelectSumChartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".warning.ContractWarningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".todo.ContractDetailsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".todo.DoDifferenceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".count.KucunCountActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".todo.ToDoContractActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".todo.ToDoBillActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".todo.ToDoPriceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".todo.BillDetailsActivity"
            android:screenOrientation="portrait"/>
        <!-- 统计 start -->
        <activity
            android:name=".count.CountLyActivity"
            android:screenOrientation="portrait" />

        <!-- 统计 end -->

        <activity android:name=".warning.ConsumableStoreWarningActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".warning.ConsumableQualityWarningActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>